@model List<StoreOutputDto>
<br />
<br />

<form class="d-none d-md-flex ms-4" asp-area="Admin" asp-controller="StoresManagement" asp-action="Index">
    <input value="@ViewBag.Search" class="form-control" type="search" placeholder="جستجوی غرفه" name="search" />
    <input class="btn btn-primary" type="submit" value="جستجو" />
</form>
<br />

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>شناسه</th>
            <th>نام غرفه</th>
            <th>توضیحات</th>
            <th>تاریخ شروع فعالیت</th>
            <th>شناسه آدرس</th>
            <th>نام کاربری فروشنده</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var store in Model)
        {
            Random random = new();
            const string chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
            var randomId = new string(Enumerable.Repeat(chars, 8)
            .Select(s => s[random.Next(s.Length)]).ToArray());

            <tr>
                <td>@store.Id</td>
                <td>@store.Name</td>
                <td>@store.Description</td>
                <td>@store.CreatedAt</td>
                <td>@store.AddressId</td>
                <td>@store.SellerUserName</td>
                <td>
                    <a asp-area="Admin" asp-controller="StoresManagement" asp-action="Edit" asp-route-id="@store.Id" class="btn btn-warning">ویرایش</a>
                    <a asp-area="Admin" asp-controller="StoresManagement" asp-action="Delete" asp-route-storeId="@store.Id" class="btn btn-danger">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>