@model List<StoreOutputDto>
<br />
<br />

<form class="d-none d-md-flex ms-4" asp-area="Admin" asp-controller="StoresManagement" asp-action="Index">
    <input value="@ViewBag.Search" class="form-control border-0" type="search" placeholder="جستجوی غرفه" name="search" />
    <input class="btn btn-primary" type="submit" value="جستجو" />
</form>
<br />

<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>شناسه</th>
            <th>نام غرفه</th>
            <th>توضیحات</th>
            <th>تاریخ شروع فعالیت</th>
            <th>آدرس</th>
            <th>فروشنده</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var store in Model)
        {
            Random random = new();
            const string chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
            var randomId = new string(Enumerable.Repeat(chars, 8)
            .Select(s => s[random.Next(s.Length)]).ToArray());

            <tr>
                <td>@store.Id</td>
                <td>@store.Name</td>
                <td>@store.Description</td>
                <td>@store.CreatedAt</td>
                <td>@store.AddressId</td>
                <td>@store.SellerId</td>
                <td>
                    <button style="cursor:pointer" type="button" class="btn btn-danger btn-round text-light" data-toggle="modal" data-target="#@randomId">
                        حذف
                    </button>
                    <div class="modal fade" id="@randomId" tabindex="-1" role="dialog" aria-labelledby="DeleteModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">حذف غرفه <span class="badge badge-success mr-2">@store.Name</span></h5>
                                </div>
                                <div class="modal-body">
                                    شما در حال حذف غرفه <strong class="text-primary">@store.Name</strong> هستید، از حذف این غرفه اطمینان دارید؟
                                </div>
                                <div class="modal-footer">
                                    <button style="cursor:pointer" type="button" class="btn btn-success btn-round text-light ml-2 mr-2 pr-3 pl-3" data-dismiss="modal">انصراف</button>
                                    <form asp-area="Admin" asp-controller="StoresManagement" asp-action="Delete" method="post">
                                        <input style="display:none" name="userId" value="@store.Id" />
                                        <button style="cursor:pointer" type="submit" class="btn btn-danger btn-round text-light">حذف کن</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a asp-area="Admin" asp-controller="StoresManagement" asp-action="Edit" asp-route-id="@store.Id" class="btn btn-warning">ویرایش</a>
                </td>
            </tr>
        }
    </tbody>
</table>