@model List<OrderOutputDto>
@using Framework.Utilities

<div class="page-header text-center" style="background-image: url('~/wwwroot/assets/images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title">تاریخچه سفارشات</h1>
    </div>
</div>

<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container d-flex align-items-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">خانه</a></li>
            <li class="breadcrumb-item"><a><i class="icon-angle-left"></i>سفارشات من</a></li>
        </ol>
    </div>
</nav>

<div class="m-5">
    <div class="border radius mb-4 p-4">
        <div class="d-flex">
            <h5>سفارش‌های من</h5>
        </div>

        @if (Model.Count > 0)
        {
            <div class="list-group">
                @foreach (var order in Model)
                {
                    <div class="order-container d-flex w-100 justify-content-between">
                        <h5 class="mb-1">سفارش # @order.Id</h5>
                        <small>تاریخ ثبت سفارش: @order.CreatedAt.ToPersianString()</small>
                    </div>
                    <p class="mb-1">قیمت سفارش: @order.TotalPrice.ToString("N0") تومان</p>

                    @foreach (var orderItem in order.OrderItems)
                    {
                        <div class="d-flex">
                            <div class="p-2">
                                <img src="/@orderItem.Product.ProductPhotos.FirstOrDefault()?.FilePath" alt="@orderItem.Product.Name" style="width: 100px; height: 100px;" />
                            </div>
                            <div class="p-2">
                                <p>نام محصول: @orderItem.Product.Name</p>
                            </div>
                        </div>
                    }
                    <a asp-action="OrderComment" asp-controller="Comment" asp-route-orderId="@order.Id" class="btn btn-primary">ثبت نظر برای سفارش</a>
                }
            </div>
        }
        else
        {
            <p>شما تا کنون هیچ سفارشی نداشته‌اید.</p>
        }
    </div>
</div>