@using App.Domain.Core.Entities;
@using Microsoft.AspNetCore.Identity;
@model ProductOutputDto
@inject UserManager<ApplicationUser> _userManager;

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @ViewBag.SuccessMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@{
    var userId = User.Identity.IsAuthenticated ? (await _userManager.GetUserAsync(User))?.Id : null;
}

<div class="product-details-top">
    <div class="row">
        <div class="col-md-6">
            <div class="product-gallery product-gallery-vertical">
                <div class="row">
                    <figure class="product-main-image">
                        <img src="/@Model.ProductPhotos.FirstOrDefault()?.FilePath" alt="تصویر محصول" />
                    </figure>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-details">
                <h1 class="product-title">@Model.Name</h1>
                @if (Model.Auctions.Any(a => a.IsRunning))
                {
                    <div class="product-price">
                        <span class="badge rounded-pill bg-warning text-dark p-3">آخرین پیشنهاد ثبت شده: @Model.Price.ToString("N0") تومان</span>
                    </div>
                }
                else
                {
                    <div class="product-price">
                        <span class="badge rounded-pill bg-secondary text-dark p-3">قیمت: @Model.Price.ToString("N0") تومان</span>
                    </div>
                }
                <div class="product-content">
                    <p>@Model.Description</p>
                </div>
            </div>
            @if (Model.IsActive && !Model.IsDeleted && Model.Auctions.Any(a => a.IsRunning))
            {
                @if (ViewBag.RemainingTime != null)
                {
                    var remainingTime = ((TimeSpan)ViewBag.RemainingTime).TotalSeconds;

                    <div class="product-countdown bg-light d-flex m-2" data-until="@remainingTime" data-relative="true" data-labels-short="true">
                        <span class="text-primary font-weight-bold"> زمان باقی‌مانده تا پایان مزایده: </span>
                        <span class="text-danger font-weight-bold" id="countdownTimer">  </span>
                    </div>
                }

                <div class="mt-auto">
                    <div class="d-flex justify-content-center m-2">
                        <a asp-action="RegisterBid" asp-controller="Product" asp-route-productId="@Model.Id" class="btn btn-primary col-12">ثبت پیشنهاد</a>
                    </div>
                </div>
            }
            else if (Model.IsActive && !Model.IsDeleted && Model.Auctions.Any(a => !a.IsRunning))
            {
                <div class="mt-auto">
                    <div class="d-flex justify-content-center m-3">
                        <a href="#" class="btn btn-primary col-12 disabled">مزایده به اتمام رسید.</a>
                    </div>
                </div>
            }
            else if (Model.IsActive && !Model.IsDeleted && Model.Auctions.Count == 0)
            {
                <div class="mt-auto">
                    <div class="d-flex justify-content-center m-3">
                        <a href="@Url.Action("Purchase", "Product", new { productId = Model.Id })" class="btn btn-primary col-12">خرید کردن</a>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

<div class="product-details-tab">
    <ul class="nav nav-pills justify-content-center" id="product-details-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="product-desc-link" data-bs-toggle="pill" href="#product-desc-tab"
               role="tab" aria-controls="product-desc-tab" aria-selected="true">توضیحات</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="product-info-link" data-bs-toggle="pill" href="#product-info-tab" role="tab"
               aria-controls="product-info-tab" aria-selected="false">مشخصات</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="product-shipping-link" data-bs-toggle="pill" href="#product-shipping-tab"
               role="tab" aria-controls="product-shipping-tab" aria-selected="false">ارسال</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="product-review-link" data-bs-toggle="pill" href="#product-review-tab"
               role="tab" aria-controls="product-review-tab" aria-selected="false">نظرات</a>
        </li>
    </ul>
    <div class="tab-content" id="product-details-tab-content">
        <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
            <div class="product-desc-content">
                <h3 class="title">توضیحات محصول</h3>
                <p>@Model.Description</p>
            </div>
        </div>

        <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
            <div class="product-desc-content">
                <h3 class="title">مشخصات محصول</h3>
                <ul class="spec-list">
                    <li class="spec-item"><span class="spec-title font-weight-bold">دسته‌بندی:</span> @Model.Category.Name</li>
                    <li class="spec-item">
                        <span class="spec-title font-weight-bold">برند:</span>
                        @if (Model.Brand != null)
                        {
                            @Model.Brand.Name
                        }
                    </li>
                    @if (Model.Weight.HasValue)
                    {
                        <li class="spec-item "><span class="spec-title font-weight-bold">وزن:</span> @((Model.Weight.Value / 1000).ToString("N1")) کیلوگرم</li>
                    }
                </ul>
            </div>
        </div>

        <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
            <div class="product-desc-content">
                <h3 class="title">روش ارسال</h3>
                <p>محصول با روش پست پیشتاز ارسال می‌شود.</p>
            </div>
        </div>

        <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
            <div class="product-desc-content">
                @await Component.InvokeAsync("ProductComments", new { productId = Model.Id })
                <div class="m-3">
                    @await Component.InvokeAsync("AddCommentForm", new { productId = Model.Id, userId = userId })
                </div>
            </div>
        </div>

    </div>
</div>